/* #screenshot { */
/*   background-image: url(/TKOS_medRes.jpg); */
/*   z-index: 1; */
/*   display: block; */
/*   height: 50vh; */
/*   max-width: 100%; */
/*   background-position: top center; */
/*   background-repeat: no-repeat; */
/*   background-size: contain; */
/* } */

#logo {
  background: url(/IMG_1538.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin: auto auto;
  width: 300px;
  height: 200px;
  margin-bottom: 4em;
}
#video {
  width: 150%;
  margin-left: -25%;
  height:150%;
  margin-top: -23%;
  display: none;
}

body {
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: black;
  font-family: Colefax, sans-serif;
}

.hoverDim a {
  color: #fff;
  transition: all ease-in-out .7s;
}
.hoverDim:hover a {
  color: #3C3C3C;
}
.hoverDim a:hover {
  border-color: white;
  color: white;
}

.hoverFade i{
  transition: all ease-in-out .7s;
}

.hoverFade:hover .inactive .fa-inverse{
  color: #bebebe !important;
}


#socialNav {
  margin-top: 1em;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  z-index:1000;
}

#socialNav a{
  margin: 0 .2em;
  text-decoration: none;
  font-size: 2em;
}

#signup {
  position: fixed;
  bottom: 1em;
  width: 100%;
}

#signup input{
  clear:both;
  display:block;

  padding: .8em;
  width:100%;
  max-width: 15em;
  margin: auto auto;

  font-size: 1.3em;
  border: none;
  background-color: #1D1C1C;
  color: white;
  outline-color: #FC99A1;
  border: 1px solid black;
}

#signup input[type=email]{
  background-color: transparent;
  color: white;
  border-color: white;
}


#signup input[type=submit]{
  background-color: #000;
  cursor: pointer;
  opacity: .8;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#signup input[type=submit]:hover{
  opacity 1;
  filter: alpha(opacity=1);
  opacity: 1;
}

*::-webkit-input-placeholder {
    color: white;
}
*:-moz-placeholder {
    color: white;
}
*::-moz-placeholder {
    color: white;
}
*:-ms-input-placeholder {
    color: white;
}

@media all and (min-width: 500px) {
  #socialNav {
    text-align: right;
  }

  #socialNav a:last-child{
    margin-right: 1em;
  }

  #video {
    display: block;
  }

  #logo {
    width: 410px;
    height: 447px;
    opacity: .7;
    margin-bottom: 2em;
  }
}
